{% extends 'base.html' %}
{% block content %}
<!-- {%for shift in shifts%}
    <h2>Name: {{shift.name.first_name}} {{shift.name.last_name}}</h2>
    <h4>When: {{shift.data_time}}  On: {{shift.time_of_shift}}</h4>
    <br>
{%endfor%} -->
<section id="register" class="bg-dark py-5" style="height: 100vh;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-dark text-warning">
              <h4>
                <i class="fas fa-user-plus"></i> Add Shift</h4>
            </div>
            <div class="card-body text-warning">
              <!-- Alerts -->
              <form  method="POST">{% csrf_token %}
                  <div class="form-group text-dark">
                      <label>Username(Login of user)</label>
                      <h3>{{form.name}}</h3>
                    </div>
                <div class="form-group text-dark">
                  <label>When(Date)</label>
                  <h3>{{form.data_time}}</h3>
                </div>
                <div class="form-group text-dark">
                    <label>On(Time)</label>
                    <h3>{{form.time_of_shift}}</h3>
                  </div>             
                <input type="submit" value="Add" class="btn btn-warning btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}