{% extends 'base.html' %}

{% block title %} | Salary {% endblock %}

{% block content %}

<ul class="card-header bg-dark" style="height: 100vh;">
    <br>
    <img src="{{salary.photo.url}}" height="250" width="200" />
    <p><h1 class="text-white"><u class="text-warning">Fullname:</u> {{ salary.first_name }} {{ salary.last_name }}</h1></p>
    <p><h2 class="text-white"><u class="text-warning">Email:</u> {{ salary.email }}</h2></p>
    <p><h2 class="text-white"><u class="text-warning">Phonenumber:</u> {{ salary.phone_number }}</h2></p>
</ul>

{% endblock content %}